<% include ../partials/header %>


<div class = "container" >
<header class ="jumbotron">
  <div class = "container">
    <h1>Boston's Software Employers</h1>
    <p>Following are the top 100 software employers in the Boston area.</p>
    <a href="/companies/new" class = "btn" "btn-primary" "btn-large">Companies Button</a>
  </div>
 </header>
  
  <div class="row">
  <% for(let i =0; i < companies.length; i++) { %>
  <div class="col-md-3" "col-sm-6">
   
    <div class = "thumbnail">
      <img src="<%= companies[i].image %>" alt="">
      <div class ="caption">
          <%= companies[i].name %>  
      </div>
      <p><a href="/companies/<%= companies[i]._id %>" class="btn" "btn-primary"> More info </a></p>
    </div>
 
  </div>

 <% } %>
</div>
</div>
<% include ../partials/footer %>
