<% include ../partials/header %>
<h1>Create a new company</h1>

<div class="row">
<form action="/companies" method="POST">
  <input class="form-control" type="text" name='name' placeholder='Company name'>
  <input class="form-control" type="text" name='logo' placeholder='Logo URL'>
  <input class="btn" "btn-lg" "btn-default" type="submit" value="Submit">
</form>
 </div>
<% include ../partials/footer %>